@import "_Variables.scss";

body {
    font-family: 'Nunito Sans', sans-serif;

    .main {
        background-color: var(--background);
        color: var(--text-color);
        min-height: 100vh;

        @media (min-width: 1000px) {
            padding: 0 10rem;
        }
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        padding: 5rem 2rem;
        color: var(--text-color);
        background-color: var(--elements-bg);
        letter-spacing: 0.1rem;
        font-size: 1.4rem;


        @media (min-width: 1000px) {
            padding: 1.5rem 0.5rem 1.5rem 1.5rem;
            font-size: 0.7rem;
            letter-spacing: 0;
            align-items: center;
        }

        .toggle-container {
            display: flex;
            align-items: center;
            border: none;
            color: var(--text-color);
            background: none;
            cursor: pointer;
            font-size: 2rem;
            letter-spacing: 0.1rem;

            @media (min-width: 1000px) {
                font-size: 0.9rem;
                align-items: center;
                letter-spacing: 0;
            }

            .moon-icon, .sun-icon {
                padding-right: 1rem;

                @media (min-width: 1000px) {
                    padding-right: 0.4rem;
                }
            }
        }
    }

    .search-dropdown-container {
        padding: 3rem 2rem;

        @media (min-width: 1000px) {
            padding: 3rem 0;
            display: flex;
            justify-content: space-between;
        }


        .search-container {
            display: flex;
            align-items: center;
            background-color: var(--elements-bg);
            padding: 2.5rem 4rem;
            column-gap: 2rem;
            border-radius: 0.5rem;

            @media (min-width: 1000px) {
                padding: 0 4rem 0 0;
            }


            .search-icon {
                font-size: 2.5rem;
                color: var(--text-color);

                @media (min-width: 1000px) {
                    padding-left: 1rem;
                    font-size: 1rem;
                }
            }

            .search-input {
                background-color: var(--elements-bg);
                border: none;
                font-size: 2rem;
                color: var(--input);

                @media (min-width: 1000px) {
                    font-size: 1rem;
                }
            }
        }

        .dropdown-container {
            padding: 2rem 0;
            padding-bottom: 8rem;

            @media (min-width: 1000px) {
                padding: 0;
            }

            .dropdown {
                color: var(--text-color);
                background-color: var(--elements-bg);
                font-size: 2rem;
                padding: 1rem;

                @media (min-width: 1000px) {
                    font-size: 1rem;
                }

                .dropdown-option {
                    font-size: 0.75rem;
                }
            }
        }
    }

    .grid-container {
        padding: 0 10rem;


        @media (min-width: 1000px) {
            padding: 0;
            display: grid;
            column-gap: 0.75rem;
            row-gap: 3rem;
            grid-template-columns: 25% 25% 25% 25%;
        }


        a {
            text-decoration: none;
            border-radius: 3%;
            transition: box-shadow 2s linear;

            @media (min-width: 1000px) {
                max-width: 13rem;


                &:hover {
                    transform: translateY(5px);
                    box-shadow: 1px 2px 10px 4px var(--text-color);
                }
            }

            .card {
                background-color: var(--elements-bg);
                color: var(--text-color);
                border-radius: 3%;
                margin-bottom: 8rem;


                @media (min-width: 1000px) {
                    max-width: 13rem;
                    margin-bottom: 0;
                }

                .card-img {
                    min-height: 25rem;
                    width: 100%;
                    object-fit: fill;
                    border-top-left-radius: 3%;
                    border-top-right-radius: 3%;

                    @media (min-width: 1000px) {
                        min-height: 9.5rem;
                    }
                }

                .card-country-info {
                    font-size: 2rem;
                    letter-spacing: 0.1rem;
                    padding: 3rem 0 5rem 3rem;

                    @media (min-width: 1000px) {
                        font-size: 0.75rem;
                        letter-spacing: 0;
                        padding: 1rem 1rem 2rem 1rem;
                    }

                    .card-country-name {
                        font-weight: 800;
                        padding-bottom: 1.5rem;

                        @media (min-width: 1000px) {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    /*=============== COUNTRY DETAIL PAGE ================ */


    .btn-back-container {
        padding: 4rem 4rem;

        @media (min-width: 1000px) {
            padding: 2rem 0;
        }



        .btn-back {
            background-color: var(--elements-bg);
            color: var(--text-color);
            font-size: 2rem;
            text-decoration: none;
            padding: 1.5rem 5rem;
            box-shadow: 0.2rem 0.2rem 0.5rem 0.05rem rgb(0 0 0 / 20%);

            @media (min-width: 1000px) {
                font-size: 0.9rem;
                padding: 0.5rem 2rem;
            }
        }
    }

    .details {
        padding: 3rem;

        @media (min-width: 1000px) {
            padding: 0;
            padding-top: 3rem;
            display: flex;
            gap: 2rem;
        }


        .card-img {
            width: 100%;
            object-fit: fill;
            padding-bottom: 8rem;

            @media (min-width: 1000px) {
                width: 40%;
                padding: 0;
            }
        }


        .details-info {
            /*font-size: 1.5rem;*/

            @media (min-width: 1000px) {
                font-size: 0.5rem;
                font-weight: lighter;
                padding-left: 2rem;
            }

            p {
                font-size: 1.5rem;

                @media (min-width: 1000px) {
                    font-size: 0.8rem;
                }
            }


            .details-info-title {
                font-weight: bold;
                font-size: 3rem;
                padding-bottom: 2rem;

                @media (min-width: 1000px) {
                    font-size: 1rem;
                }
            }

            .border {
                @media (min-width: 1000px) {
                    display: flex;
                    align-items: center;
                }

                .border-title {
                    font-size: 2.4rem;

                    @media (min-width: 1000px) {
                        font-size: 0.7rem;
                        font-weight: bold;
                        padding-right: 1rem;
                    }
                }

                .border-container {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;

                    .btn-border {
                        background-color: var(--elements-bg);
                        color: var(--text-color);
                        font-size: 2rem;
                        text-decoration: none;
                        padding: 1.5rem 2rem;
                        box-shadow: 0.2rem 0.2rem 0.5rem 0.05rem rgb(0 0 0 / 20%);


                        @media (min-width: 1000px) {
                            font-size: 0.7rem;
                            padding: 0.2rem 0.8rem;
                        }
                    }
                }
            }
        }
    }
}
