//colors
$dark-blue: #2b3945;
$dark-very-dark-blue: #202c37;                       //dark-mode-bg
$very-dark-blue: #111517;                       //light-mode-txt
$dark-gray: #858585;                            //light-mode-input
$very-light-gray: #fafafa;                      //light-mode-bg
$white: #ffffff;                                //dark-mode-text & light-mode-elements

//font
$nunito-sans: Nunito Sans; 