//font
$nunito-sans: Nunito Sans;

:root {
    --background: #202c37;
    --elements-bg: #2b3945;
    --text-color: #ffffff;
    --info-text: #e5e5e5;
    --displaySun: block;
    --displayMoon: none;

    .moon-icon {
        display: var(--displayMoon);
    }

    .dark {
        display: none;
    }
}



.light-mode {
    --background: #fafafa;
    --elements-bg: #ffffff;
    --text-color: #111517;
    --info-text: #4c4c4c;
    --input: #858585; //light-mode-input

    --displaySun: none;
    --displayMoon: block;

    .sun-icon {
        display: var(--displaySun);
    }

    .light {
        display: none;
    }

    .dark {
        display: block;
    }
}



