:root {
  --background: #202c37;
  --elements-bg: #2b3945;
  --text-color: #ffffff;
  --displaySun: block;
  --displayMoon: none;
}
:root .moon-icon {
  display: var(--displayMoon);
}
:root .dark {
  display: none;
}

.light-mode {
  --background: #fafafa;
  --elements-bg: #ffffff;
  --text-color: #111517;
  --input: #858585;
  --displaySun: none;
  --displayMoon: block;
}
.light-mode .sun-icon {
  display: var(--displaySun);
}
.light-mode .light {
  display: none;
}
.light-mode .dark {
  display: block;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  /*=============== COUNTRY DETAIL PAGE ================ */
}
body .main {
  background-color: var(--background);
  color: var(--text-color);
  min-height: 100vh;
}
@media (min-width: 1000px) {
  body .main {
    padding: 0 10rem;
  }
}
body .header-container {
  display: flex;
  justify-content: space-between;
  padding: 5rem 2rem;
  color: var(--text-color);
  background-color: var(--elements-bg);
  letter-spacing: 0.1rem;
}
@media (min-width: 1000px) {
  body .header-container {
    padding: 1.5rem 0.5rem 1.5rem 1.5rem;
    font-size: 0.7rem;
    letter-spacing: 0;
    align-items: center;
  }
}
body .header-container .toggle-container {
  display: flex;
  align-items: center;
  border: none;
  color: var(--text-color);
  background: none;
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
@media (min-width: 1000px) {
  body .header-container .toggle-container {
    font-size: 0.9rem;
    align-items: center;
    letter-spacing: 0;
  }
}
body .header-container .toggle-container .moon-icon, body .header-container .toggle-container .sun-icon {
  padding-right: 1rem;
}
@media (min-width: 1000px) {
  body .header-container .toggle-container .moon-icon, body .header-container .toggle-container .sun-icon {
    padding-right: 0.4rem;
  }
}
body .search-dropdown-container {
  padding: 3rem 2rem;
}
@media (min-width: 1000px) {
  body .search-dropdown-container {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
  }
}
body .search-dropdown-container .search-container {
  display: flex;
  align-items: center;
  background-color: var(--elements-bg);
  padding: 2.5rem 4rem;
  column-gap: 2rem;
  border-radius: 0.5rem;
}
@media (min-width: 1000px) {
  body .search-dropdown-container .search-container {
    padding: 0 4rem 0 0;
  }
}
body .search-dropdown-container .search-container .search-icon {
  font-size: 2.5rem;
  color: var(--text-color);
}
@media (min-width: 1000px) {
  body .search-dropdown-container .search-container .search-icon {
    padding-left: 1rem;
    font-size: 1rem;
  }
}
body .search-dropdown-container .search-container .search-input {
  background-color: var(--elements-bg);
  border: none;
  font-size: 2rem;
}
@media (min-width: 1000px) {
  body .search-dropdown-container .search-container .search-input {
    font-size: 1rem;
  }
}
body .search-dropdown-container .dropdown-container {
  padding: 2rem 0;
  padding-bottom: 8rem;
}
@media (min-width: 1000px) {
  body .search-dropdown-container .dropdown-container {
    padding: 0;
  }
}
body .search-dropdown-container .dropdown-container .dropdown {
  color: var(--text-color);
  background-color: var(--elements-bg);
  font-size: 2rem;
  padding: 1rem;
}
@media (min-width: 1000px) {
  body .search-dropdown-container .dropdown-container .dropdown {
    font-size: 1rem;
  }
}
body .search-dropdown-container .dropdown-container .dropdown .dropdown-option {
  font-size: 0.75rem;
}
body .grid-container {
  padding: 0 10rem;
}
@media (min-width: 1000px) {
  body .grid-container {
    padding: 0;
    display: grid;
    column-gap: 0.75rem;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
body .grid-container a {
  text-decoration: none;
}
body .grid-container a .card {
  background-color: var(--elements-bg);
  color: var(--text-color);
  margin-bottom: 4rem;
  border-radius: 3%;
}
@media (min-width: 1000px) {
  body .grid-container a .card {
    max-width: 13rem;
    /*min-height: 19rem;*/
  }
}
body .grid-container a .card .card-img {
  min-height: 25rem;
  width: 100%;
  object-fit: fill;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}
@media (min-width: 1000px) {
  body .grid-container a .card .card-img {
    min-height: 9.5rem;
  }
}
body .grid-container a .card .card-country-info {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 3rem 0 5rem 3rem;
}
@media (min-width: 1000px) {
  body .grid-container a .card .card-country-info {
    font-size: 0.75rem;
    letter-spacing: 0;
    padding: 1rem 1rem 2rem 1rem;
  }
}
body .grid-container a .card .card-country-info .card-country-name {
  font-weight: 800;
  padding-bottom: 1.5rem;
}
@media (min-width: 1000px) {
  body .grid-container a .card .card-country-info .card-country-name {
    font-weight: bold;
  }
}
body .btn-back-container {
  padding: 4rem 4rem;
}
@media (min-width: 1000px) {
  body .btn-back-container {
    padding: 2rem 0;
  }
}
body .btn-back-container .btn-back {
  background-color: var(--elements-bg);
  color: var(--text-color);
  font-size: 2rem;
  text-decoration: none;
  padding: 1.5rem 5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.05rem rgba(0, 0, 0, 0.2);
}
@media (min-width: 1000px) {
  body .btn-back-container .btn-back {
    font-size: 0.9rem;
    padding: 0.5rem 2rem;
  }
}
body .country-details {
  padding: 3rem;
}
@media (min-width: 1000px) {
  body .country-details {
    padding: 0;
    display: flex;
    gap: 2rem;
  }
}
body .country-details .card-img {
  width: 100%;
  object-fit: fill;
  padding-bottom: 8rem;
}
@media (min-width: 1000px) {
  body .country-details .card-img {
    max-width: 30rem;
    max-height: 20rem;
    padding: 0;
  }
}
body .country-details .details-info-title {
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 2rem;
}
@media (min-width: 1000px) {
  body .country-details .details-info-title {
    font-size: 1.5rem;
  }
}
body .country-details .details-info {
  font-size: 1.5rem;
}
@media (min-width: 1000px) {
  body .country-details .details-info {
    font-size: 0.9rem;
  }
}
body .country-details .details-info .border-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
body .country-details .details-info .border-container .btn-border {
  background-color: var(--elements-bg);
  color: var(--text-color);
  font-size: 2rem;
  text-decoration: none;
  padding: 1.5rem 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.05rem rgba(0, 0, 0, 0.2);
}
@media (min-width: 1000px) {
  body .country-details .details-info .border-container .btn-border {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --background: #202c37;
  --elements-bg: #2b3945;
  --text-color: #ffffff;
  --displaySun: block;
  --displayMoon: none;
}
:root .moon-icon {
  display: var(--displayMoon);
}
:root .dark {
  display: none;
}

.light-mode {
  --background: #fafafa;
  --elements-bg: #ffffff;
  --text-color: #111517;
  --input: #858585;
  --displaySun: none;
  --displayMoon: block;
}
.light-mode .sun-icon {
  display: var(--displaySun);
}
.light-mode .light {
  display: none;
}
.light-mode .dark {
  display: block;
}
